 <div class="card visitedCard">
    
      <div class="card-body">
        <h5 class="card-title">Visited!</h5>
       <ul>
    {{#each visitedPlaces}}
        <li>{{title}}</li>
    {{/each}}
</ul>
  <img src="./assets/img/travel2.jpg" class="card-img-top" alt="travel">
      </div>
    </div>